<button routerLink ='/curvals'><span style ="font-size: xx-large" class = "glyphicon glyphicon-chevron-left"></span></button>

<h1>Create a new Peer Evaluation</h1>
<form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">
  <label>Open Date</label><input  formControlName= "OD" type = "date">
  <label>Close Date</label><input formControlName= "CD" type = "date">
  <label>Due Date Date</label><input formControlName= "DD" type = "date">
  <select>
    <option value = "default">Default</option>
  </select>


  <button type="submit">Submit Peer Evaluation</button>

</form>
<p>{{data}}</p>