<div id = "logout" style = "text-align: right">
<p style = "margin-bottom: 0">
  Welcome User!
</p>
<a href>Logout</a>
</div>

<nav class=" navbar navbar-default navbar-fixed-top " >
    <div class="container-fluid" >
        <div class="navbar-header">
            <button routerLink ='/home' style = " font-size: x-large ;  ">Classes Page</button>
            <button routerLink = '/students' style = " font-size: x-large;  " > Students Page</button>
            <button routerLink ='/peereval' style = " font-size: x-large; " >PeerEval Page</button>
        </div>
    </div>
</nav>