

<div id = "logout" style = "text-align: right">
<p style = "margin-bottom: 0">
  Welcome {{user}}!
</p>
<a href ="http://localhost/untitledfolder/logout.php">Logout</a>
</div>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="clearfix">
  <button (click)="isCollapsed = !isCollapsed"
          class="navbar-toggler pull-xs-right hidden-sm-up" type="button"
          aria-controls="bd-main-nav"
          aria-label="Toggle navigation">
    {{menuIcon}}
  </button>
  <a (click)="isCollapsed = true" class="navbar-brand hidden-sm-up" [routerLink]="">
   <img src = {{fullImagePath}} height="40" width = "30">
  </a>
  </div>

  <div class="navbar-toggleable-xs navbar-collapse" id="bd-main-nav"
       [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
    <ul class="nav navbar-nav">
      <li (click)="isCollapsed = true" class="nav-item" routerLinkActive="active">
        <a class="navbar-brand hidden-xs-down" [routerLink]="classes">PeerEvolve</a>
      </li>
      <li (click)="isCollapsed = true" class="nav-item" routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="home" routerLinkActive="active">Classes</a>
      </li>
      <li (click)="isCollapsed = true" class="nav-item" routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="students" routerLinkActive="active">Students</a>
      </li>
      <li (click)="isCollapsed = true" class="nav-item" routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="curvals" routerLinkActive="active">Evaluations</a>

      </li>
      <li (click)="isCollapsed = true" class="nav-item" routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="userhome" routerLinkActive="active">User Home</a>

      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li (click)="isCollapsed = true" class="nav-item">
        <a class="nav-item nav-link" routerLinkActive="active"  href="http://localhost/untitledfolder/logout.php">Logout</a>
      </li>
    </ul>
  </div>

</nav>
<br>


