<br>
<br>

<h1>Create a new Peer Evaluation</h1>
  <button style="display:inline-block;margin-right: 1%" (click)="deleter()" >Delete User</button>
  <form [formGroup]="studedit"  (ngSubmit)="update($event)">
    <label>Student ID:</label><input formControlName="Stud" type ="text" placeholder={{student}}>
    <label>Group:</label><input type ="text" formControlName="Group" placeholder={{group}}>
    <button [disabled]= "!studedit.valid" type="submit">Submit Peer Evaluation</button>

  </form>




